<div id="<%= dom_id students_book %>">
  <p>
    <strong>Ma hs:</strong>
    <%= students_book.Ma_HS %>
  </p>

  <p>
    <strong>Ten hs:</strong>
    <%= students_book.Ten_HS %>
  </p>

  <p>
    <strong>Lop:</strong>
    <%= students_book.Lop %>
  </p>

  <p>
    <strong>Ma sach:</strong>
    <%= students_book.Ma_Sach %>
  </p>

  <p>
    <strong>Ten sach:</strong>
    <%= students_book.Ten_Sach %>
  </p>

  <p>
    <strong>Ten tacgia:</strong>
    <%= students_book.Ten_TacGia %>
  </p>

</div>
