<tr>
  <th scope="row"><%= index %></th>
  <td><%= book_140.Ma_HS %></td>
  <td><%= book_140.Ten_HS %></td>
  <td><%= book_140.Lop %></td>
  <td><%= book_140.Ma_Sach %></td>
  <td><%= book_140.Ten_Sach %></td>
  <td><%= book_140.Ten_TacGia %></td>
  <td><%= book_140.Tu_Sach %></td>
  <td><%= book_140.So_BM %></td>
  <td><%= book_140.NgayMuon %></td>
  <td><%= book_140.NgayTra %></td>
  <td><%= book_140.So_Ngay %></td>
</tr>